# System files (macOS)
*.DS_Store
Icon?

# Archives & Compressed files
*.tar.gz

# Documents
*.pdf
!bibliography/*.pdf

# Figures
*.png
!bibliography/*.png
!book/*.png
*.jpg
*.jpeg

# Tree files
*project.tree 

# LaTeX output files
*.aux 
*.fdb_latexmk 
*.fls 
*.log 
*.bak* 
*.bbl 
*.blg 
*.out 
*Notes.bib 
*blx.bib 
*.run.xml 
*.toc 
*.spl 
*.nav 
*.snm

# Modules files
modules/*egg-info/*
modules/*/__pycache__/*