# System files (macOS)
*.DS_Store
Icon?

# Archives & Compressed files
*.tar.gz
*.synctex.gz
*.tar

# Data files
*.nc

# Data folder
data/*
Data

# Documents
*.pdf
!bibliography/*.pdf

# Figures
*.png
!bibliography/*.png
!book/*.png
!draft/*.png
!draft/figures/*.png
!report/*.png
!report/figures/*.png
!slides/*.png
!slides/figures/*.png
*.jpg
*.jpeg
*.mp4
*.mov
*.avi

# Tree files
*project.tree 

# LaTeX output files
*.aux 
*.fdb_latexmk 
*.fls 
*.log 
*.bak* 
*.bbl 
*.blg 
*.out 
*Notes.bib 
*blx.bib 
*.run.xml 
*.toc 
*.spl 
*.nav 
*.snm
*.lof
*.lot

# Modules files
modules/*egg-info/*
modules/*/__pycache__/*

# Fortran files
*.f90
*.h

# Input files
*.in